Notes:
===

syntax:
-------
 - () are functions
 - [] are lists, indices, etc
 
 
 $$ L^T=\frac{c^2}{2 k_b} \nu_o^-2 D_L^2 (1+z)^-3 S^V $$

In [2]:
import pandas as pd

In [3]:
ls

Flux Calib List.xlsx              SMA Flux Data - Notebook 1.ipynb

In [4]:
xl= pd.ExcelFile("Flux Calib List.xlsx")

In [5]:
frameList = [xl.parse(name) for name in xl.sheet_names[1:]]
structure = pd.concat(frameList)

In [6]:
structure["Name"].value_counts()

0721+713    12
0747-331    11
0830+241    11
0530+135     9
0826-373     8
3c84         8
0238+166     7
uranus       5
0401+042     4
0738-064     4
0340-213     4
0824+558     4
callisto     4
0625+146     3
0449+635     3
1014+230     3
0533+483     3
0605+405     3
1043+241     3
0442-002     3
ganymede     3
3c273        3
0745+317     2
0501-019     2
0836-202     2
0802+181     2
0808+498     2
0609-157     2
1159+292     2
1041+061     2
            ..
0527+035     1
0629-199     1
1037-295     1
0116-116     1
1924-292     1
0750+482     1
0646+448     1
1118+125     1
1433-158     1
0336+323     1
1517-243     1
1010+828     1
1048+717     1
0310+382     1
1153+495     1
0957+553     1
0512+152     1
0902-142     1
1058+812     1
0750+125     1
0608-223     1
1207+279     1
1044+809     1
1727+455     1
0541+474     1
0914+027     1
1653+397     1
0217+738     1
0717+456     1
0339-017     1
Name: Name, Length: 155, dtype: int64

In [7]:
# where structure["Name"]=="0731+713" provides boolean index for where there is overlap of objects b/w observations 
structure[structure["Name"]=="0721+713"]

,#,#Scans,Avg UTH,HA max,HA min,HA min,Name,RxA,RxB,Scan Range,Unnamed: 11,configuration,file
11,12,14.0,7.9442,0.55,-2.76,NaN,0721+713,340.832,340.832,( 274- 675),NaN,subcompact,/data/flux/mir_data/170131_04:37:23/
4,5,7.0,3.5053,0.06,0.01,NaN,0721+713,225.175 GHz,225.175 GHz,( 45- 51),NaN,compact,/data/flux/mir_data/170426_03:06:54/
3,4,8.0,4.2558,-1.62,-1.68,NaN,0721+713,230.016 GHz,230.016 GHz,( 35- 42),NaN,extended,/data/flux/mir_data/170320_03:56:39/
2,3,7.0,4.7141,-1.23,-1.28,NaN,0721+713,230.016 GHz,230.016 GHz,( 23- 29),NaN,extended,NaN
4,5,7.0,4.2125,-3.05,-3.10,NaN,0721+713,225.189,225.189,( 51- 57),NaN,extended,/data/flux/mir_data/170227_03:46:22/
2,3,7.0,4.7141,-1.23,-1.28,NaN,0721+713,230.016,230.016,( 23- 29),NaN,extended,/data/flux/mir_data/170226_12:41:14/
5,6,7.0,5.2702,-2.31,-2.36,NaN,0721+713,225.190 GHz,225.190 GHz,( 79- 85),NaN,extended,/data/flux/mir_data/170222_04:37:40/
5,6,7.0,4.3111,-3.60,-3.65,NaN,0721+713,225.555 GHz,225.555 GHz,( 195- 201),NaN,extended,/data/flux/mir_data/170217_03:28:04/
3,4,7.0,8.8283,0.47,0.42,NaN,0721+713,225.193,225.193,( 34- 40),NaN,subcompact,/data/flux/mir_data/170210_08:31:44/
6,7,7.0,6.5181,-1.46,-1.51,NaN,0721+713,225.514,225.514,( 80- 86),NaN,nonstandard,/data/flux/mir_data/170216_05:50:22/
5,6,8.0,13.8233,3.77,3.71,NaN,0721+713,339.986,224.991,( 74- 81),NaN,compact,/data/flux/mir_data/170115_13:11:24/
3,4,15.0,14.4331,3.86,3.80,NaN,0721+713,225.472,253.468,( 116- 130),NaN,compact,/data/flux/mir_data/170107_13:54:46/

In [23]:
ScanSum = pd.DataFrame(structure[["Name","#Scans"]]) #remember, single [] pass indices; but need double brackets as it's a list
ScanSum

        Name  #Scans
0       3c84   191.0
1     uranus    51.0
2   0238+166     7.0
3   0530+135     7.0
4   0339-017     7.0
5   0112+227     7.0
6   0555+398     8.0
7   0237+288     7.0
8   0325+226     7.0
9   0340-213     7.0
10  0542+498     7.0
11  0721+713    14.0
12  0830+241     8.0
13  0102+584     7.0
14  0730-116     7.0
15  0325+469     7.0
16  0310+382     7.0
17  0418+380     7.0
18  0725-009     7.0
19  0449+635     9.0
20  0738-064     7.0
21  0219+013     8.0
22  0533+483     7.0
23  0149+189     7.0
24  0401+042     7.0
25  0354+467     7.0
26  0745+317     7.0
27  0522+012     7.0
28  0539-286    11.0
29  0747-331     8.0
..       ...     ...
12  1130-148     7.0
13  1146+399     7.0
14  1205-265     7.0
15  1419+543     7.0
16  0958+474     7.0
17  1153+809     7.0
18  0824+558     8.0
19  1048-191     7.0
20  1522-275     7.0
21  1517-243    19.0
22  1035-201     7.0
23  1230+123     7.0
0      3c273    99.0
1   callisto    41.0
2   ganymede    41.0
3   0721+713    15.0
4   0747-331    15.0
5   0830+241    15.0
6   0826-373    15.0
7   0841+708    17.0
8   0824+558    15.0
9   1159-224    15.0
10  1146+399    15.0
11  1427-421    15.0
12  0836-202    15.0
13  1153+809    16.0
14  1207+279    15.0
15  1230+123    15.0
16  1608+104    15.0
17  1159+292    15.0

[288 rows x 2 columns]

In [22]:
ScanSum["Observations"] = 1 #create column for counting # of scans throughout observations
ScanSum

        Name  #Scans  Observations
0       3c84   191.0             1
1     uranus    51.0             1
2   0238+166     7.0             1
3   0530+135     7.0             1
4   0339-017     7.0             1
5   0112+227     7.0             1
6   0555+398     8.0             1
7   0237+288     7.0             1
8   0325+226     7.0             1
9   0340-213     7.0             1
10  0542+498     7.0             1
11  0721+713    14.0             1
12  0830+241     8.0             1
13  0102+584     7.0             1
14  0730-116     7.0             1
15  0325+469     7.0             1
16  0310+382     7.0             1
17  0418+380     7.0             1
18  0725-009     7.0             1
19  0449+635     9.0             1
20  0738-064     7.0             1
21  0219+013     8.0             1
22  0533+483     7.0             1
23  0149+189     7.0             1
24  0401+042     7.0             1
25  0354+467     7.0             1
26  0745+317     7.0             1
27  0522+012     7.0             1
28  0539-286    11.0             1
29  0747-331     8.0             1
..       ...     ...           ...
12  1130-148     7.0             1
13  1146+399     7.0             1
14  1205-265     7.0             1
15  1419+543     7.0             1
16  0958+474     7.0             1
17  1153+809     7.0             1
18  0824+558     8.0             1
19  1048-191     7.0             1
20  1522-275     7.0             1
21  1517-243    19.0             1
22  1035-201     7.0             1
23  1230+123     7.0             1
0      3c273    99.0             1
1   callisto    41.0             1
2   ganymede    41.0             1
3   0721+713    15.0             1
4   0747-331    15.0             1
5   0830+241    15.0             1
6   0826-373    15.0             1
7   0841+708    17.0             1
8   0824+558    15.0             1
9   1159-224    15.0             1
10  1146+399    15.0             1
11  1427-421    15.0             1
12  0836-202    15.0             1
13  1153+809    16.0             1
14  1207+279    15.0             1
15  1230+123    15.0             1
16  1608+104    15.0             1
17  1159+292    15.0             1

[288 rows x 3 columns]

In [19]:
SummaryOfScans = ScanSum.groupby("Name").sum()                          #Summing # of Scans throughout 
SummaryOfScans.sort_values("#Scans",ascending=False, inplace=True)
SummaryOfScans

          #Scans  Observations
Name
3c84      1218.0             8
3c273      167.0             3
uranus     131.0             5
0721+713   101.0            12
ganymede    92.0             3
callisto    88.0             4
0747-331    87.0            11
0830+241    86.0            11
0826-373    67.0             8
0530+135    63.0             9
1058+015    57.0             2
0510+180    51.0             2
1924-292    49.0             1
0238+166    49.0             7
0824+558    37.0             4
0854+201    37.0             2
0605+405    29.0             3
0738-064    29.0             4
0401+042    28.0             4
0340-213    28.0             4
1043+241    23.0             3
1153+809    23.0             2
0449+635    23.0             3
0625+146    22.0             3
0733+503    22.0             2
1159+292    22.0             2
0836-202    22.0             2
1608+104    22.0             2
1230+123    22.0             2
1146+399    22.0             2
...          ...           ...
0242-215     7.0             1
0237+288     7.0             1
0116-116     7.0             1
0113+498     7.0             1
0527+035     7.0             1
0539+145     7.0             1
0541+474     7.0             1
0914+027     7.0             1
1103+220     7.0             1
1058+812     7.0             1
1048+717     7.0             1
1044+809     7.0             1
1037-295     7.0             1
1035-201     7.0             1
1010+828     7.0             1
0958+474     7.0             1
0629-199     7.0             1
0957+553     7.0             1
0902-142     7.0             1
0112+227     7.0             1
0823+223     7.0             1
0811+017     7.0             1
0808-078     7.0             1
0750+482     7.0             1
0730-116     7.0             1
0710+475     7.0             1
0646+448     7.0             1
0840+132     7.0             1
3c274        4.0             1
1112-219     3.0             1

[155 rows x 2 columns]

In [11]:
structure[structure["Name"]=="ganymede"] #testing out structure summations

,#,#Scans,Avg UTH,HA max,HA min,HA min,Name,RxA,RxB,Scan Range,Unnamed: 11,configuration,file
39,40,31.0,9.9894,-3.94,-4.18,NaN,ganymede,225.514,225.514,( 489- 519),NaN,nonstandard,/data/flux/mir_data/170216_05:50:22/
2,3,20.0,13.477,-2.54,-2.70,NaN,ganymede,339.986,224.991,( 26- 45),NaN,compact,/data/flux/mir_data/170115_13:11:24/
2,3,41.0,14.2094,-2.29,-2.46,NaN,ganymede,225.472,253.468,( 51- 91),NaN,compact,/data/flux/mir_data/170107_13:54:46/

In [20]:
df = xl.parse("flux 21617") #just experimenting with pulling out specific data sets
df.columns
df.iloc[0,5]

'uranus'